*, *::before, *::after {                          /*icon '*' maksudnya berlaku untuk semua element HTML*/
    box-sizing: border-box;  
    font-family: Gotham Rounded, sans-serif;
    font-weight: noormal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;                  /*1 tombol jadi penuh*/
    justify-content: center;
    align-content: center;          /*merapatkan setiap konten, btw item = isinya, klo konten buttonnya (keseluruhan part kecil) */
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);      /*mksdnya repeat setiap 4 item, dengan 1 item memiliki panjang 100px */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);    /*minmax(min-lebar, max-lebar) untuk tombol*/
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .90);   /*ketika kursor menyentuh tombol baka akan berubah warna*/
}

.span-two{
    grid-column: span 2;       /*membuat 1 tombol setara dengan luas 2 colum (tombol).... inget sebelumnya kita repeat 4 colum*/
}

.output {
    grid-column: 1 / -1;                        /*mkadnya kolom d grid dari colum 1 hingga colum -1 (-1 itu klo d hitung dari belakang/ 'last colum')*/
    background-color: rgba(0, 0, 0, .75);
    display: flex;                             /*agar flexibel (bisa diatur)*/
    align-items: flex-end;                     /*text output akan berada di kanan*/
    justify-content: space space-around;      /*dia ngasih space tapi ngga ujung dg ujung.. melainkan seperti dibagi 2 tapi d tengah" pada kedua bagian tsb*/
    flex-direction: column;                    /*kan tadinya masih baris, nah biat kedua item (previous & current) ada d atas dan bawa, maka pake rumus ini*/
    padding: 10px;                            
    word-wrap: break-word;                     /*klo penuh akan nge-break k bawah.. tapi ini per kata... sedangkan kita maunya klo udah mentok harus ttp turun walaupun katanya blm beres.. next bawah*/
    word-break: break-all;                     /*solusi d atas*/
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}
